<div class="ArticleWrap">
  <h1 class="ArticleTitle"><%= @article.title %></h1>

  <%= image_tag @article.cover_image, class: 'ArticleCoverImage' %>

  <p class="ArticleContent">
    <%= @article.content %>
  </p>
</div>

<div class="ArticleActions">
  <% if !@is_pdf %>
    <%= link_to 'Edit', edit_article_path(@article) %> |
    <%= link_to 'Back', articles_path %> |
    <%= link_to 'PDF', article_path(@article, format: :pdf), target: '_blank' %>
  <% end %>
</div>

